

*{		
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  list-style: none;
}

body {
    margin: 0;
    background-color: lightgrey;
  }
  
  .navbar ul li {
    list-style-type: none;
    padding: 15px 30px;
    height: 100px;
    font-size: 40px;
      }

  a:hover {
    font-weight: bold;
  }
  
  .navbar ul {
    display: flex;
    background-color: darkolivegreen;
    margin: 30px 30px;
    font-size: 1.12rem;
    height: 150px;
    line-height: 150px;
    font-size: 30px;
    width: 93%;
    border-radius: 5%;
  }
  

  a:-webkit-any-link {
    color: black;
    cursor: pointer;
    /* text-decoration: none; */
  }
 
  logo {
    float: right;
    /* padding-right: 50px; */
  }
  .wrapper {
    text-align: center;
  }
  
  .nutan {
    border: 1px solid black;
    margin-bottom: 20px;
    padding: 50px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: flex;
}

  #nutan h2 {
    text-align: center;
    font-size: 40px;
    height: 200px;
    line-height: 200px;
    width: 93%;
  }

#nutan p {
  position: relative;
  float: left;
width: 50%;
font-size: 25px;
border: 6px solid darkolivegreen;
border-radius: 5%;
background-color: lightblue;
margin: 5px 10px 5px 20px;
height: 133px;
}

#img1 {
  border: 6px solid black;
  border-radius: 5%;
  object-fit:cover;
  width: 45%;
  height: 300px;
  margin: 0px 20px 0px 10px;
  }


  .food {
    border: 1px solid black;
    margin-bottom: 50px;
    padding: 50px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: flex;
}


  #food h2 {
    text-align: center;
    font-size: 40px;
    height: 200px;
    line-height: 200px;
    width: 93%;
  }

  #food p {
  position: relative;
  float: left;
font-size: 25px;
border: 6px solid darkolivegreen;
border-radius: 5%;
background-color: lightblue;
margin: 5px 10px 5px 20px;
width: 50%;
height: 300px;

}

  #img2 {
    border: 6px solid black;
    border-radius: 5%;
    object-fit:cover;
    width: 45%;
    height: 300px;
    float: right;
    margin: 0px 20px 0px 10px;
  }
    
.recipe {
  border: 1px solid black;
  margin-bottom: 50px;
  padding: 50px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  display: flex;
}


  #recipe h2 {
    font-size: 40px;
    height: 200px;
    line-height: 200px;
    text-align: center;
  }

#recipe p {
  position: relative;
  float: left;
font-size: 25px;
border: 6px solid darkolivegreen;
border-radius: 5%;
background-color: lightblue;
margin: 5px 10px 5px 20px;
width: 50%;
height: 300px;
}

#img3 {
  object-fit:cover;
  width: 45%;
  height: 300px;
  border: 6px solid black;
  border-radius: 5%;
  margin: 0px 20px 0px 10px;
  }
  
#aboutus h2{
  text-align: center;
  font-size: 40px;
  height: 200px;
  line-height: 200px;
}
  

#aboutus h3 {
  position: relative;
  float: left;
font-size: 25px;
border: 6px solid darkolivegreen;
border-radius: 5%;
background-color: lightblue;
margin: 5px 30px 5px 70px;
width: 45%;
height: 100px;
}

#aboutus h4 {
  position: relative;
  float: right;
font-size: 25px;
border: 6px solid darkolivegreen;
border-radius: 5%;
background-color: lightblue;
margin: 5px 70px 5px 30px;
width: 45%;
height: 100px;
}

footer h1, h2, h3, h4, h5, h6 {
  padding-top: 15px;
  display: inline;
  margin-left: 25px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: black;
  font-size: 30px;
  margin-bottom: 25px;
  margin-right: 35px;
 }

button {
  background-color: grey;
  font-size: 20px;
  }

 input {
border :1px solid black;
 }

 footer {
    list-style-type: none;
     padding: 15px 30px;
    height: 100px;
    line-height: 100px;
    text-align: center;
 }